name: PR Checks

defaults:
    run:
        shell: bash

permissions:
    contents: read

on:
    pull_request:
        branches:
            - main
            - develop
    push:
        branches:
            - main
            - develop
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
    build:
        name: Build
        runs-on: hiero-client-sdk-linux-medium
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
              with:
                egress-policy: audit

            - name: Setup GCC
              run: |
                sudo apt-get update
                sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

            - name: Set up Go 1.21
              uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
              with:
                  go-version: "1.21"
              id: go

            - name: Check out code into the Go module directory
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Vet SDK and Examples
              run: go vet ./...

            - name: Build SDK and Examples
              run: go build -v ./...

            - name: Lint
              uses: golangci/golangci-lint-action@051d91933864810ecd5e2ea2cfd98f6a5bca5347 # v6.3.2
              with:
                  skip-cache: true
                  args: --timeout=5m

    test:
        name: Unit and Integration Tests
        if: success()
        runs-on: hiero-client-sdk-linux-medium

        needs:
            - build
        env:
          OPERATOR_KEY: "9a07bbdbb62e24686d2a4259dc88e38438e2c7a1ba167b147ad30ac540b0a3cd"
          OPERATOR_ID: "0.0.1031"
          HEDERA_NETWORK: "localhost"

        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
              with:
                  egress-policy: audit

            - name: Setup NodeJS
              uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
              with:
                node-version: 18

            - name: Setup GCC
              run: |
                sudo apt-get update
                sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

            - name: Set up Go 1.21
              uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
              with:
                  go-version: "1.21"
              id: go

            - name: Check out code into the Go module directory
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Start the local node
              if: success()
              run: npx @hashgraph/hedera-local start -d --network local --balance=100000

            - name: Tests Unit
              if: success()
              run: go test ./sdk -tags="unit" -timeout 9999s -v -coverprofile=unit.out -covermode=atomic -race

            - name: Tests Integration
              if: success()
              run: go test ./sdk -tags="e2e" -timeout 9999s -v -coverprofile=e2e.out -covermode=atomic -race

            - name: Upload coverage to Codecov
              if: success()
              uses: codecov/codecov-action@015f24e6818733317a2da2edd6290ab26238649a # v5.0.7
              with:
                token: ${{ secrets.CODECOV_TOKEN }}
                files: ./unit.out,./e2e.out,./testnets.out

            - name: Stop the local node
              run: npx @hashgraph/hedera-local stop

    run-examples:
        name: Run Examples
        if: success()
        runs-on: hiero-client-sdk-linux-medium

        needs:
            - build
        env:
          OPERATOR_KEY: "9a07bbdbb62e24686d2a4259dc88e38438e2c7a1ba167b147ad30ac540b0a3cd"
          OPERATOR_ID: "0.0.1031"
          HEDERA_NETWORK: "localhost"

        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
              with:
                  egress-policy: audit

            - name: Setup NodeJS
              uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
              with:
                node-version: 18

            - name: Setup GCC
              run: |
                sudo apt-get update
                sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

            - name: Set up Go 1.21
              uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
              with:
                  go-version: "1.21"
              id: go

            - name: Check out code into the Go module directory
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Install Task
              run: go install github.com/go-task/task/v3/cmd/task@v3.17.0

            - name: Start the local node
              if: success()
              run: npx @hashgraph/hedera-local start -d --network local --balance=100000

            - name: Run Examples
              if: success()
              run: task run-examples

            - name: Stop the local node
              run: npx @hashgraph/hedera-local stop

    build-test-tck:
        name: Build and Test TCK
        runs-on: hiero-client-sdk-linux-medium
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
              with:
                egress-policy: audit

            - name: Setup GCC
              run: |
                sudo apt-get update
                sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

            - name: Set up Go 1.21
              uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
              with:
                  go-version: "1.21"
              id: go

            - name: Check out code into the Go module directory
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Tidy TCK Modules
              run: go mod tidy
              working-directory: ./tck

            - name: Build TCK
              run: go build -v ./...
              working-directory: ./tck 

            - name: Lint TCK
              uses: golangci/golangci-lint-action@051d91933864810ecd5e2ea2cfd98f6a5bca5347 # v6.3.2
              with:
                  skip-cache: true
                  args: --timeout=5m   
                  working-directory: ./tck 
            
            - name: Test TCK
              run: go test ./...
              working-directory: ./tck
