name: Previewnet
env:
    OPERATOR_KEY: ${{ secrets.PREVIEWNET_OPERATOR_KEY }}
    OPERATOR_ID: ${{ secrets.PREVIEWNET_OPERATOR_ID }}
    HEDERA_NETWORK: "previewnet"

defaults:
    run:
        shell: bash

permissions:
    contents: read

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: hiero-client-sdk-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c95a14d0e5bab51a9f56296a4eb0e416910cd350 # v2.10.3
        with:
          egress-policy: audit

      - name: Setup GCC
        run: |
            sudo apt-get update
            sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

      - name: Set up Go 1.20
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version: "1.20"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Vet SDK and Examples
        run: go vet ./...

      - name: Lint
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # v6.1.1
        with:
          version: v1.50

      - name: Build
        run: go build -v ./sdk

      - name: Test
        run: go test -v -timeout 9999s
